.check-check {
  width: 32px;
  height: 32px;
  display: flex;
  padding: var(--dl-space-space-halfunit);
  position: relative;
  align-items: center;
  border-color: #ffffff;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: row;
  justify-content: center;
}
.check-icon {
  fill: #ffffff;
  width: 12px;
  height: 12px;
}

.line-line {
  width: 32px;
  height: 1px;
  display: flex;
  position: relative;
  align-items: center;
  flex-direction: row;
  justify-content: space-between;
  background-color: #ffffff;
}

.icon-container-icon-container {
  position: relative;
}
.icon-container-icon {
  fill: #ffffff;
  width: 16px;
  height: 16px;
}
.icon-container-icon2 {
  fill: #ffffff;
  width: 16px;
  height: 16px;
  display: none;
}









.home1-container {
  width: 100%;
  display: flex;
  overflow: hidden;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
  background-color: #000000;
}
.home1-hero {
  width: 100%;
  height: 936px;
  display: flex;
  position: relative;
  align-items: center;
  padding-left: 0px;
  flex-direction: column;
  justify-content: flex-start;
}
.home1-navbar {
  width: 100%;
  display: flex;
  z-index: 1000;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  margin-top: var(--dl-space-space-halfunit);
  align-items: center;
  margin-left: var(--dl-space-space-fiveunits);
  justify-content: space-between;
}
.home1-branding {
  width: 120px;
  object-fit: cover;
}
.home1-container1 {
  flex: 0 0 auto;
  width: auto;
  height: auto;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}
.home1-text02 {
  color: var(--dl-color-gray-700);
  display: inherit;
  font-size: 4em;
}
.home1-lottie-node {
  width: 90%;
  height: 90%;
  display: inherit;
  position: relative;
  align-items: center;
}
.home1-text03 {
  color: rgb(124, 124, 128);
  font-size: 14px;
  line-height: 21px;
}
.home1-container2 {
  border: 2px dashed rgba(120, 120, 120, 0.4);
  display: flex;
  position: relative;
}
.home1-slides {
  gap: var(--dl-space-space-fourunits);
  display: none;
  overflow: hidden;
  position: relative;
  align-items: center;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.home1-slider {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home1-slider-container {
  gap: var(--dl-space-space-fourunits);
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home1-slider-track-container {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home1-slider-track {
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home1-image {
  height: 400px;
  object-fit: cover;
  aspect-ratio: 1;
}
.home1-content {
  height: 400px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home1-header {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  flex-direction: column;
}
.home1-heading {
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
}
.home1-caption {
  color: rgb(204, 204, 255);
  max-width: 600px;
  line-height: 24px;
}
.home1-more {
  gap: 4px;
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home1-more:hover {
  opacity: 0.5;
}
.home1-caption01 {
  color: rgb(255, 255, 255);
  max-width: 600px;
  font-style: normal;
  font-weight: 500;
}
.home1-icon {
  fill: #ffffff;
  width: 14px;
  height: 14px;
}
.home1-image1 {
  object-fit: cover;
  aspect-ratio: 1;
}
.home1-content01 {
  height: 400px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home1-header01 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  flex-direction: column;
}
.home1-heading01 {
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
}
.home1-caption02 {
  color: rgb(204, 204, 255);
  max-width: 600px;
  line-height: 24px;
}
.home1-more1 {
  gap: 4px;
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home1-more1:hover {
  opacity: 0.5;
}
.home1-caption03 {
  color: rgb(255, 255, 255);
  max-width: 600px;
  font-style: normal;
  font-weight: 500;
}
.home1-icon02 {
  fill: #ffffff;
  width: 14px;
  height: 14px;
}
.home1-image2 {
  height: 400px;
  object-fit: cover;
  aspect-ratio: 1;
}
.home1-content02 {
  height: 400px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home1-header02 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  flex-direction: column;
}
.home1-heading02 {
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
}
.home1-caption04 {
  color: rgb(204, 204, 255);
  max-width: 600px;
  line-height: 24px;
}
.home1-more2 {
  gap: 4px;
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home1-more2:hover {
  opacity: 0.5;
}
.home1-caption05 {
  color: rgb(255, 255, 255);
  max-width: 600px;
  font-style: normal;
  font-weight: 500;
}
.home1-icon04 {
  fill: #ffffff;
  width: 14px;
  height: 14px;
}
.home1-image3 {
  height: 400px;
  object-fit: cover;
  aspect-ratio: 1;
}
.home1-content03 {
  height: 400px;
  display: flex;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: space-between;
}
.home1-header03 {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  flex-direction: column;
}
.home1-heading03 {
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
}
.home1-caption06 {
  color: rgb(204, 204, 255);
  max-width: 600px;
  line-height: 24px;
}
.home1-more3 {
  gap: 4px;
  cursor: pointer;
  display: flex;
  transition: 0.3s;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home1-more3:hover {
  opacity: 0.5;
}
.home1-caption07 {
  color: rgb(255, 255, 255);
  max-width: 600px;
  font-style: normal;
  font-weight: 500;
}
.home1-icon06 {
  fill: #ffffff;
  width: 14px;
  height: 14px;
}
.home1-controls {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home1-previous {
  display: flex;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
}
.home1-icon08 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
}
.home1-next {
  display: flex;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
}
.home1-icon10 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
}
.home1-container4 {
  display: contents;
}
.home1-get-started {
  width: 100%;
  display: none;
  position: relative;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: space-between;
}
.home1-header-container {
  gap: var(--dl-space-space-threeunits);
  display: flex;
  z-index: 100;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home1-header04 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  max-width: 800px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home1-heading04 {
  color: rgb(255, 255, 255);
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
}
.home1-caption08 {
  color: rgb(124, 124, 128);
  font-size: 24px;
  max-width: 600px;
  line-height: 36px;
}
.home1-button {
  display: flex;
  align-items: flex-end;
  flex-direction: row;
  justify-content: space-between;
}
.home1-image4 {
  top: 0px;
  right: 0px;
  width: 720px;
  bottom: 0px;
  margin: auto;
  position: absolute;
  object-fit: cover;
}
.home1-objectives {
  display: none;
  max-width: var(--dl-size-size-maxwidth);
  align-self: stretch;
  align-items: flex-start;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: row;
  justify-content: space-between;
}
.home1-content04 {
  flex: 1;
  display: flex;
  position: relative;
  align-self: center;
  align-items: flex-start;
  padding-top: var(--dl-space-space-fiveunits);
  border-color: #313133;
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: space-between;
  border-top-width: 1px;
}
.home1-objectives-list {
  height: 58px;
  display: flex;
  align-self: center;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home1-objective {
  position: relative;
  align-items: center;
  justify-content: center;
}
.home1-text05 {
  color: rgb(255, 255, 255);
  font-size: 24px;
  align-self: stretch;
  font-style: normal;
  font-weight: 500;
}
.home1-text06 {
  color: rgb(124, 124, 128);
  display: none;
  line-height: 24px;
}
.home1-objective1 {
  position: relative;
  align-items: center;
  justify-content: center;
}
.home1-text07 {
  color: rgb(255, 255, 255);
  font-size: 24px;
  align-self: stretch;
  font-style: normal;
  font-weight: 500;
}
.home1-text11 {
  color: rgb(124, 124, 128);
  display: none;
  line-height: 24px;
}
.home1-objective2 {
  position: relative;
  align-items: center;
  justify-content: center;
}
.home1-text12 {
  color: rgb(255, 255, 255);
  font-size: 24px;
  align-self: stretch;
  font-style: normal;
  font-weight: 500;
}
.home1-text13 {
  color: rgb(124, 124, 128);
  display: none;
  line-height: 24px;
}
.home1-experience {
  gap: var(--dl-space-space-fourunits);
  width: 100%;
  display: none;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-end;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: center;
}
.home1-images {
  flex: 1;
  height: 100%;
  display: flex;
  position: relative;
  align-items: flex-start;
  padding-top: var(--dl-space-space-halfunit);
  flex-direction: column;
  justify-content: flex-end;
}
.home1-square {
  left: -35px;
  width: 180px;
  bottom: -35px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  aspect-ratio: 1;
  flex-direction: row;
  justify-content: flex-start;
  background-color: #0000FF;
}
.home1-image5 {
  width: 575px;
  z-index: 100;
  object-fit: cover;
}
.home1-content05 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  max-width: 640px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home1-header05 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  border-color: #313133;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: center;
  border-bottom-width: 1px;
}
.home1-header-container1 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home1-header06 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home1-heading05 {
  color: rgb(255, 255, 255);
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
}
.home1-text15 {
  font-family: Playfair Display;
}
.home1-caption09 {
  color: rgb(124, 124, 128);
  width: 100%;
  font-size: 24px;
  max-width: 560px;
  line-height: 36px;
}
.home1-checkmarks {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home1-check {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home1-mark {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #0000F5;
}
.home1-icon12 {
  fill: #ffffff;
  width: 12px;
  height: 12px;
}
.home1-text16 {
  color: rgb(255, 255, 255);
  line-height: 24px;
}
.home1-check1 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home1-mark1 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #0000F5;
}
.home1-icon14 {
  fill: #ffffff;
  width: 12px;
  height: 12px;
}
.home1-text17 {
  color: rgb(255, 255, 255);
  line-height: 24px;
}
.home1-check2 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home1-mark2 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #0000F5;
}
.home1-icon16 {
  fill: #ffffff;
  width: 12px;
  height: 12px;
}
.home1-text18 {
  color: rgb(255, 255, 255);
  line-height: 24px;
}
.home1-check3 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home1-mark3 {
  display: flex;
  padding: var(--dl-space-space-halfunit);
  align-items: flex-start;
  border-radius: var(--dl-radius-radius-round);
  flex-direction: column;
  justify-content: center;
  background-color: #0000F5;
}
.home1-icon18 {
  fill: #ffffff;
  width: 12px;
  height: 12px;
}
.home1-text19 {
  color: rgb(255, 255, 255);
  line-height: 24px;
}
.home1-testimonial {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home1-content06 {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.home1-text20 {
  color: rgb(124, 124, 128);
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 5%;
  text-transform: uppercase;
}
.home1-text21 {
  color: rgb(255, 255, 255);
  font-style: italic;
  font-family: Playfair Display;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 5%;
}
.home1-information {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: row;
  justify-content: center;
}
.home1-author {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-items: center;
  border-color: #7C7C80;
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
  justify-content: center;
  border-right-width: 1px;
}
.home1-icon20 {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: var(--dl-radius-radius-round);
}
.home1-name {
  color: rgb(255, 255, 255);
  font-size: 18px;
  line-height: 27px;
}
.home1-from {
  width: 100px;
  object-fit: cover;
}
.home1-create {
  gap: var(--dl-space-space-fourunits);
  width: 100%;
  display: none;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-end;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: row;
  padding-bottom: var(--dl-space-space-fiveunits);
  justify-content: center;
}
.home1-content07 {
  gap: var(--dl-space-space-threeunits);
  width: 100%;
  display: flex;
  align-items: center;
  padding-top: 120px;
  flex-direction: column;
  padding-bottom: 120px;
  justify-content: center;
  background-color: #0000F5;
}
.home1-header07 {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home1-heading06 {
  color: rgb(255, 255, 255);
  font-size: 100px;
  font-style: normal;
  text-align: center;
  font-weight: 500;
}
.home1-text23 {
  font-style: italic;
  font-family: Playfair Display;
  font-weight: 500;
}
.home1-button2 {
  background-color: #000000;
}
.home1-comparision {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: none;
  max-width: var(--dl-size-size-maxwidth);
  align-items: center;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.home1-header-container2 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home1-header08 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home1-heading07 {
  color: rgb(255, 255, 255);
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
}
.home1-caption10 {
  color: rgb(124, 124, 128);
  width: 100%;
  font-size: 24px;
  max-width: 560px;
  text-align: center;
  line-height: 36px;
}
.home1-table {
  width: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.home1-row {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home1-headers {
  flex: 0.6;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home1-text32 {
  color: rgba(255, 255, 255, 0);
  width: 100%;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  padding-top: var(--dl-space-space-oneandhalfunits);
  border-color: #313133;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  border-bottom-width: 1px;
}
.home1-plans {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home1-row01 {
  width: 100%;
  display: flex;
  align-items: center;
  border-color: #313133;
  padding-right: 180px;
  flex-direction: row;
  justify-content: space-between;
  border-bottom-width: 1px;
}
.home1-text33 {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 14px;
  text-align: center;
  line-height: 32px;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  text-transform: uppercase;
}
.home1-text34 {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 14px;
  text-align: center;
  line-height: 32px;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  text-transform: uppercase;
}
.home1-text35 {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 14px;
  text-align: center;
  line-height: 32px;
  padding-top: var(--dl-space-space-oneandhalfunits);
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  text-transform: uppercase;
}
.home1-row02 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home1-headers1 {
  flex: 0.6;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home1-text36 {
  color: rgb(255, 255, 255);
  width: 100%;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  padding-top: var(--dl-space-space-oneandhalfunits);
  border-color: #313133;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  border-bottom-width: 1px;
}
.home1-plans1 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home1-row03 {
  width: 100%;
  display: flex;
  align-items: center;
  border-color: #313133;
  padding-right: 180px;
  flex-direction: row;
  justify-content: space-between;
  border-bottom-width: 1px;
}
.home1-row04 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home1-headers2 {
  flex: 0.6;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home1-text37 {
  color: rgb(255, 255, 255);
  width: 100%;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  padding-top: var(--dl-space-space-oneandhalfunits);
  border-color: #313133;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  border-bottom-width: 1px;
}
.home1-plans2 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home1-row05 {
  width: 100%;
  display: flex;
  align-items: center;
  border-color: #313133;
  padding-right: 180px;
  flex-direction: row;
  justify-content: space-between;
  border-bottom-width: 1px;
}
.home1-row06 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home1-headers3 {
  flex: 0.6;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home1-text38 {
  color: rgb(255, 255, 255);
  width: 100%;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  padding-top: var(--dl-space-space-oneandhalfunits);
  border-color: #313133;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  border-bottom-width: 1px;
}
.home1-plans3 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home1-row07 {
  width: 100%;
  display: flex;
  align-items: center;
  border-color: #313133;
  padding-right: 180px;
  flex-direction: row;
  justify-content: space-between;
  border-bottom-width: 1px;
}
.home1-text39 {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 14px;
  text-align: center;
  line-height: 32px;
}
.home1-row08 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home1-headers4 {
  flex: 0.6;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home1-text40 {
  color: rgb(255, 255, 255);
  width: 100%;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  padding-top: var(--dl-space-space-oneandhalfunits);
  border-color: #313133;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  border-bottom-width: 1px;
}
.home1-plans4 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home1-row09 {
  width: 100%;
  display: flex;
  align-items: center;
  border-color: #313133;
  padding-right: 180px;
  flex-direction: row;
  justify-content: space-between;
  border-bottom-width: 1px;
}
.home1-text41 {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 14px;
  text-align: center;
  line-height: 32px;
}
.home1-text42 {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 14px;
  text-align: center;
  line-height: 32px;
}
.home1-row10 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home1-headers5 {
  flex: 0.6;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home1-text43 {
  color: rgb(255, 255, 255);
  width: 100%;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  padding-top: var(--dl-space-space-oneandhalfunits);
  border-color: #313133;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  border-bottom-width: 1px;
}
.home1-plans5 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home1-row11 {
  width: 100%;
  display: flex;
  align-items: center;
  border-color: #313133;
  padding-right: 180px;
  flex-direction: row;
  justify-content: space-between;
  border-bottom-width: 1px;
}
.home1-text44 {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 14px;
  text-align: center;
  line-height: 32px;
}
.home1-row12 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home1-headers6 {
  flex: 0.6;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home1-text45 {
  color: rgb(255, 255, 255);
  width: 100%;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  padding-top: var(--dl-space-space-oneandhalfunits);
  border-color: #313133;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  border-bottom-width: 1px;
}
.home1-plans6 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home1-row13 {
  width: 100%;
  display: flex;
  align-items: center;
  border-color: #313133;
  padding-right: 180px;
  flex-direction: row;
  justify-content: space-between;
  border-bottom-width: 1px;
}
.home1-row14 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home1-headers7 {
  flex: 0.6;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home1-text46 {
  color: rgb(255, 255, 255);
  width: 100%;
  font-style: normal;
  font-weight: 500;
  line-height: 32px;
  padding-top: var(--dl-space-space-oneandhalfunits);
  border-color: #313133;
  padding-bottom: var(--dl-space-space-oneandhalfunits);
  border-bottom-width: 1px;
}
.home1-plans7 {
  flex: 1;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home1-row15 {
  width: 100%;
  display: flex;
  align-items: center;
  border-color: #313133;
  padding-right: 180px;
  flex-direction: row;
  justify-content: space-between;
  border-bottom-width: 1px;
}
.home1-text47 {
  color: rgb(255, 255, 255);
  width: 100%;
  font-size: 14px;
  text-align: center;
  line-height: 32px;
}
.home1-data {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: none;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-fiveunits);
}
.home1-header-container3 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home1-header09 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home1-row16 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: center;
  flex-direction: row;
}
.home1-heading08 {
  color: rgb(255, 255, 255);
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
}
.home1-caption11 {
  color: rgb(124, 124, 128);
  width: 100%;
  font-size: 24px;
  max-width: 600px;
  line-height: 36px;
}
.home1-content08 {
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: space-between;
}
.home1-image6 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home1-image7 {
  width: 440px;
  object-fit: cover;
}
.home1-accordion {
  width: 100%;
  display: flex;
  max-width: 640px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: space-between;
}
.home1-header10 {
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
}
.home1-header11 {
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
}
.home1-header12 {
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
}
.home1-header13 {
  color: rgb(255, 255, 255);
  font-size: 40px;
  font-style: normal;
  font-weight: 500;
}
.home1-container6 {
  display: contents;
}
.home1-customer {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: none;
  align-items: flex-start;
  flex-direction: column;
  padding-bottom: var(--dl-space-space-sixunits);
}
.home1-header14 {
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  flex-direction: column;
}
.home1-heading09 {
  color: rgb(255, 255, 255);
  font-size: 60px;
  max-width: 900px;
  font-style: normal;
  font-weight: 400;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
}
.home1-text52 {
  font-style: italic;
  font-family: Playfair Display;
  font-weight: 500;
}
.home1-quotes {
  width: 100%;
  display: flex;
  position: relative;
  overflow-x: hidden;
  align-items: flex-start;
  margin-left: max(0px, (100% - 1240px)/2);
  padding-top: var(--dl-space-space-threeunits);
  border-color: rgba(255, 255, 255, 0.2);
  flex-direction: row;
  border-top-width: 1px;
  border-bottom-width: 1px;
}
.home1-quote {
  gap: var(--dl-space-space-threeunits);
  height: 100%;
  display: flex;
  align-items: flex-start;
  border-color: rgba(255, 255, 255, 0.2);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  border-right-width: 1px;
}
.home1-quote1 {
  color: rgb(124, 124, 128);
  width: 100%;
  font-size: 16px;
  max-width: 400px;
  line-height: 24px;
  letter-spacing: 1%;
}
.home1-author1 {
  gap: 4px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home1-name1 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 1%;
}
.home1-location {
  color: rgba(255, 255, 255, 0.3);
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 1%;
}
.home1-quote2 {
  gap: var(--dl-space-space-threeunits);
  height: 100%;
  display: flex;
  align-items: flex-start;
  border-color: rgba(255, 255, 255, 0.2);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  border-right-width: 1px;
}
.home1-quote3 {
  color: rgb(124, 124, 128);
  width: 100%;
  font-size: 16px;
  max-width: 400px;
  line-height: 24px;
  letter-spacing: 1%;
}
.home1-author2 {
  gap: 4px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home1-name2 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 1%;
}
.home1-location1 {
  color: rgba(255, 255, 255, 0.3);
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 1%;
}
.home1-quote4 {
  gap: var(--dl-space-space-threeunits);
  height: 100%;
  display: flex;
  align-items: flex-start;
  border-color: rgba(255, 255, 255, 0.2);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  border-right-width: 1px;
}
.home1-quote5 {
  color: rgb(124, 124, 128);
  width: 100%;
  font-size: 16px;
  max-width: 400px;
  line-height: 24px;
  letter-spacing: 1%;
}
.home1-author3 {
  gap: 4px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home1-name3 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 1%;
}
.home1-location2 {
  color: rgba(255, 255, 255, 0.3);
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 1%;
}
.home1-quote6 {
  gap: var(--dl-space-space-threeunits);
  height: 100%;
  display: flex;
  align-items: flex-start;
  border-color: rgba(255, 255, 255, 0.2);
  padding-left: var(--dl-space-space-threeunits);
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  border-right-width: 1px;
}
.home1-quote7 {
  color: rgb(124, 124, 128);
  width: 100%;
  font-size: 16px;
  max-width: 400px;
  line-height: 24px;
  letter-spacing: 1%;
}
.home1-author4 {
  gap: 4px;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
}
.home1-name4 {
  color: rgb(255, 255, 255);
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 30px;
  letter-spacing: 1%;
}
.home1-location3 {
  color: rgba(255, 255, 255, 0.3);
  font-size: 14px;
  line-height: 21px;
  letter-spacing: 1%;
}
.home1-controls1 {
  gap: var(--dl-space-space-unit);
  width: 100%;
  display: flex;
  max-width: var(--dl-size-size-maxwidth);
  align-self: center;
  align-items: center;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: row;
}
.home1-previous1 {
  display: flex;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
}
.home1-icon21 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
}
.home1-next1 {
  display: flex;
  padding-left: var(--dl-space-space-oneandhalfunits);
  padding-right: var(--dl-space-space-oneandhalfunits);
  flex-direction: row;
}
.home1-icon23 {
  fill: #ffffff;
  width: 24px;
  height: 24px;
}
.home1-faq {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: none;
  max-width: var(--dl-size-size-maxwidth);
  align-items: flex-start;
  padding-top: var(--dl-space-space-fiveunits);
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
  flex-direction: column;
  padding-bottom: 160px;
}
.home1-header15 {
  gap: var(--dl-space-space-oneandhalfunits);
  display: flex;
  align-items: flex-start;
  flex-direction: row;
}
.home1-heading10 {
  color: rgb(255, 255, 255);
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
}
.home1-text58 {
  font-style: italic;
  font-family: Playfair Display;
  font-weight: 500;
}
.home1-content17 {
  gap: 120px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: row;
  justify-content: flex-start;
}
.home1-column {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  max-width: 640px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home1-element04 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  border-color: #313133;
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: flex-start;
  border-right-width: 1px;
  border-bottom-width: 1px;
}
.home1-header16 {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
.home1-content18 {
  color: rgb(124, 124, 128);
  width: 100%;
  display: flex;
  max-width: 560px;
  line-height: 24px;
}
.home1-element05 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  border-color: #313133;
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: flex-start;
  border-right-width: 1px;
  border-bottom-width: 1px;
}
.home1-header17 {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
.home1-content19 {
  color: rgb(124, 124, 128);
  width: 100%;
  display: flex;
  max-width: 560px;
  line-height: 24px;
}
.home1-element06 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  border-color: #313133;
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: flex-start;
  border-right-width: 1px;
  border-bottom-width: 1px;
}
.home1-header18 {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
.home1-content20 {
  color: rgb(124, 124, 128);
  width: 100%;
  display: flex;
  max-width: 560px;
  line-height: 24px;
}
.home1-column1 {
  gap: var(--dl-space-space-fiveunits);
  width: 100%;
  display: flex;
  max-width: 640px;
  align-items: flex-start;
  flex-direction: column;
  justify-content: flex-start;
}
.home1-element07 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  border-color: #313133;
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: flex-start;
  border-right-width: 1px;
  border-bottom-width: 1px;
}
.home1-header19 {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
.home1-content21 {
  color: rgb(124, 124, 128);
  width: 100%;
  display: flex;
  max-width: 560px;
  line-height: 24px;
}
.home1-element08 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  border-color: #313133;
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: flex-start;
  border-right-width: 1px;
  border-bottom-width: 1px;
}
.home1-header20 {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
.home1-content22 {
  color: rgb(124, 124, 128);
  width: 100%;
  display: flex;
  max-width: 560px;
  line-height: 24px;
}
.home1-element09 {
  gap: var(--dl-space-space-oneandhalfunits);
  width: 100%;
  cursor: pointer;
  display: flex;
  align-items: flex-start;
  border-color: #313133;
  padding-right: var(--dl-space-space-threeunits);
  flex-direction: column;
  padding-bottom: var(--dl-space-space-threeunits);
  justify-content: flex-start;
  border-right-width: 1px;
  border-bottom-width: 1px;
}
.home1-header21 {
  color: rgb(255, 255, 255);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 28px;
}
.home1-content23 {
  color: rgb(124, 124, 128);
  width: 100%;
  display: flex;
  max-width: 560px;
  line-height: 24px;
}
.home1-container8 {
  display: contents;
}
@media(max-width: 991px) {
  .home1-hero {
    height: 780px;
    padding-left: var(--dl-space-space-oneandhalfunits);
  }
  .home1-slider {
    gap: var(--dl-space-space-twounits);
  }
  .home1-image {
    width: 100%;
    height: 120px;
  }
  .home1-content {
    gap: var(--dl-space-space-unit);
    width: 100%;
    height: auto;
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
    justify-content: flex-start;
  }
  .home1-header {
    gap: var(--dl-space-space-halfunit);
    width: 100%;
  }
  .home1-heading {
    font-size: 24px;
  }
  .home1-caption {
    max-width: 600px;
  }
  .home1-image1 {
    width: 100%;
    height: 120px;
  }
  .home1-content01 {
    gap: var(--dl-space-space-unit);
    width: 100%;
    height: auto;
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
    justify-content: flex-start;
  }
  .home1-header01 {
    gap: var(--dl-space-space-halfunit);
    width: 100%;
  }
  .home1-heading01 {
    font-size: 24px;
  }
  .home1-caption02 {
    max-width: 600px;
  }
  .home1-image2 {
    width: 100%;
    height: 120px;
  }
  .home1-content02 {
    gap: var(--dl-space-space-unit);
    width: 100%;
    height: auto;
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
    justify-content: flex-start;
  }
  .home1-header02 {
    gap: var(--dl-space-space-halfunit);
    width: 100%;
  }
  .home1-heading02 {
    font-size: 24px;
  }
  .home1-caption04 {
    max-width: 600px;
  }
  .home1-image3 {
    width: 100%;
    height: 120px;
  }
  .home1-content03 {
    gap: var(--dl-space-space-unit);
    width: 100%;
    height: auto;
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-oneandhalfunits);
    justify-content: flex-start;
  }
  .home1-header03 {
    gap: var(--dl-space-space-halfunit);
    width: 100%;
  }
  .home1-heading03 {
    font-size: 24px;
  }
  .home1-caption06 {
    max-width: 600px;
  }
  .home1-content04 {
    gap: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
    justify-content: flex-start;
  }
  .home1-objectives-list {
    padding-right: 0px;
  }
  .home1-objective1 {
    flex: 1;
  }
  .home1-objective2 {
    flex: 1;
  }
  .home1-experience {
    align-items: flex-start;
    flex-direction: column-reverse;
  }
  .home1-content07 {
    gap: var(--dl-space-space-twounits);
    padding-top: var(--dl-space-space-fourunits);
    padding-bottom: var(--dl-space-space-fourunits);
  }
  .home1-heading06 {
    font-size: 50px;
  }
  .home1-headers {
    flex: 0;
  }
  .home1-text32 {
    color: rgba(255, 255, 255, 0);
    width: 0px;
    font-style: normal;
    font-weight: 500;
    line-height: 32px;
  }
  .home1-row01 {
    padding-right: 0px;
    justify-content: center;
  }
  .home1-row02 {
    flex-direction: column;
  }
  .home1-headers1 {
    flex: 0 0 auto;
    width: 100%;
  }
  .home1-text36 {
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-unit);
    border-bottom-width: 0px;
  }
  .home1-plans1 {
    width: 100%;
  }
  .home1-row03 {
    padding-right: 0px;
  }
  .home1-row04 {
    flex-direction: column;
  }
  .home1-headers2 {
    flex: 0 0 auto;
    width: 100%;
  }
  .home1-text37 {
    width: 100%;
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-unit);
    border-bottom-width: 0px;
  }
  .home1-plans2 {
    width: 100%;
  }
  .home1-row05 {
    padding-right: 0px;
  }
  .home1-row06 {
    flex-direction: column;
  }
  .home1-headers3 {
    flex: 0 0 auto;
    width: 100%;
  }
  .home1-text38 {
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-unit);
    border-bottom-width: 0px;
  }
  .home1-plans3 {
    width: 100%;
  }
  .home1-row07 {
    padding-right: 0px;
  }
  .home1-row08 {
    flex-direction: column;
  }
  .home1-headers4 {
    flex: 0 0 auto;
    width: 100%;
  }
  .home1-text40 {
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-unit);
    border-bottom-width: 0px;
  }
  .home1-plans4 {
    width: 100%;
  }
  .home1-row09 {
    padding-right: 0px;
  }
  .home1-row10 {
    flex-direction: column;
  }
  .home1-headers5 {
    flex: 0 0 auto;
    width: 100%;
  }
  .home1-text43 {
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-unit);
    border-bottom-width: 0px;
  }
  .home1-plans5 {
    width: 100%;
  }
  .home1-row11 {
    padding-right: 0px;
  }
  .home1-row12 {
    flex-direction: column;
  }
  .home1-headers6 {
    flex: 0 0 auto;
    width: 100%;
  }
  .home1-text45 {
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-unit);
    border-bottom-width: 0px;
  }
  .home1-plans6 {
    width: 100%;
  }
  .home1-row13 {
    padding-right: 0px;
  }
  .home1-row14 {
    flex-direction: column;
  }
  .home1-headers7 {
    flex: 0 0 auto;
    width: 100%;
  }
  .home1-text46 {
    padding-top: var(--dl-space-space-halfunit);
    padding-bottom: var(--dl-space-space-unit);
    border-bottom-width: 0px;
  }
  .home1-plans7 {
    width: 100%;
  }
  .home1-row15 {
    padding-right: 0px;
  }
  .home1-heading08 {
    color: rgb(255, 255, 255);
  }
  .home1-text49 {
    font-style: italic;
    font-family: Playfair Display;
    font-weight: 500;
  }
  .home1-content08 {
    gap: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
    justify-content: flex-start;
  }
  .home1-header10 {
    font-size: 24px;
  }
  .home1-header11 {
    font-size: 24px;
  }
  .home1-header12 {
    font-size: 24px;
  }
  .home1-header13 {
    font-size: 24px;
  }
  .home1-customer {
    max-width: 1400px;
    padding-left: var(--dl-space-space-fiveunits);
    padding-right: var(--dl-space-space-fiveunits);
  }
  .home1-header14 {
    max-width: 100%;
  }
  .home1-heading09 {
    padding-left: 0px;
    padding-right: 0px;
  }
  .home1-quotes {
    padding-top: 0px;
    flex-direction: column;
    border-bottom-width: 0px;
  }
  .home1-quote {
    gap: var(--dl-space-space-oneandhalfunits);
    width: 100%;
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-oneandhalfunits);
    border-right-width: 0px;
    border-bottom-width: 1px;
  }
  .home1-quote1 {
    font-size: 16px;
    max-width: 100%;
  }
  .home1-quote2 {
    gap: var(--dl-space-space-oneandhalfunits);
    width: 100%;
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-oneandhalfunits);
    border-right-width: 0px;
    border-bottom-width: 1px;
  }
  .home1-quote3 {
    font-size: 16px;
    max-width: 100%;
  }
  .home1-quote4 {
    gap: var(--dl-space-space-oneandhalfunits);
    width: 100%;
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-oneandhalfunits);
    border-right-width: 0px;
    border-bottom-width: 1px;
  }
  .home1-quote5 {
    font-size: 16px;
    max-width: 100%;
  }
  .home1-quote6 {
    gap: var(--dl-space-space-oneandhalfunits);
    width: 100%;
    padding-top: var(--dl-space-space-oneandhalfunits);
    padding-left: 0px;
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-oneandhalfunits);
    border-right-width: 0px;
    border-bottom-width: 1px;
  }
  .home1-quote7 {
    font-size: 16px;
    max-width: 100%;
  }
  .home1-controls1 {
    max-width: 100%Width;
    padding-left: 0px;
    padding-right: 0px;
  }
  .home1-previous1 {
    display: none;
  }
  .home1-next1 {
    display: none;
  }
  .home1-faq {
    padding-bottom: var(--dl-space-space-fiveunits);
  }
  .home1-content17 {
    gap: var(--dl-space-space-oneandhalfunits);
    flex-direction: column;
    justify-content: flex-start;
  }
  .home1-column {
    max-width: 100%;
  }
  .home1-header16 {
    font-size: 24px;
  }
  .home1-content18 {
    font-size: 14px;
    line-height: 21px;
  }
  .home1-header17 {
    font-size: 24px;
  }
  .home1-content19 {
    font-size: 14px;
    line-height: 21px;
  }
  .home1-header18 {
    font-size: 24px;
  }
  .home1-content20 {
    font-size: 14px;
    line-height: 21px;
  }
  .home1-column1 {
    max-width: 100%;
  }
  .home1-header19 {
    font-size: 24px;
  }
  .home1-content21 {
    font-size: 14px;
    line-height: 21px;
  }
  .home1-header20 {
    font-size: 24px;
  }
  .home1-content22 {
    font-size: 14px;
    line-height: 21px;
  }
  .home1-header21 {
    font-size: 24px;
  }
  .home1-content23 {
    font-size: 14px;
    line-height: 21px;
  }
}
@media(max-width: 767px) {
  .home1-slides {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home1-slider {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home1-slider-track {
    align-items: stretch;
  }
  .home1-heading {
    font-size: 18px;
  }
  .home1-caption {
    font-size: 12px;
    line-height: 18px;
  }
  .home1-caption01 {
    font-size: 14px;
  }
  .home1-icon {
    width: 11px;
    height: 11px;
  }
  .home1-heading01 {
    font-size: 18px;
  }
  .home1-caption02 {
    font-size: 12px;
    line-height: 18px;
  }
  .home1-caption03 {
    font-size: 14px;
  }
  .home1-icon02 {
    width: 11px;
    height: 11px;
  }
  .home1-heading02 {
    font-size: 18px;
  }
  .home1-caption04 {
    font-size: 12px;
    line-height: 18px;
  }
  .home1-caption05 {
    font-size: 14px;
  }
  .home1-icon04 {
    width: 11px;
    height: 11px;
  }
  .home1-heading03 {
    font-size: 18px;
  }
  .home1-caption06 {
    font-size: 12px;
    line-height: 18px;
  }
  .home1-caption07 {
    font-size: 14px;
  }
  .home1-icon06 {
    width: 11px;
    height: 11px;
  }
  .home1-previous {
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .home1-icon08 {
    width: 14px;
    height: 14px;
  }
  .home1-next {
    padding-top: var(--dl-space-space-unit);
    padding-left: var(--dl-space-space-unit);
    padding-right: var(--dl-space-space-unit);
    padding-bottom: var(--dl-space-space-unit);
  }
  .home1-icon10 {
    width: 14px;
    height: 14px;
  }
  .home1-get-started {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home1-heading04 {
    font-size: 36px;
    line-height: 42px;
  }
  .home1-caption08 {
    font-size: 16px;
    line-height: 24px;
  }
  .home1-image4 {
    width: 300px;
  }
  .home1-objectives {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home1-content04 {
    padding-top: var(--dl-space-space-threeunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home1-objectives-list {
    width: 100%;
    flex-direction: column;
  }
  .home1-experience {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home1-square {
    left: -20px;
    width: 20%;
    bottom: -20px;
  }
  .home1-image5 {
    width: 100%;
  }
  .home1-content05 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home1-header05 {
    padding-bottom: var(--dl-space-space-oneandhalfunits);
  }
  .home1-header-container1 {
    gap: var(--dl-space-space-unit);
  }
  .home1-heading05 {
    font-size: 40px;
  }
  .home1-caption09 {
    font-size: 16px;
    line-height: 24px;
  }
  .home1-text20 {
    font-size: 12px;
    line-height: 18px;
  }
  .home1-icon20 {
    width: 40px;
    height: 40px;
  }
  .home1-name {
    font-size: 12px;
    line-height: 18px;
  }
  .home1-from {
    width: auto;
    height: 100%;
  }
  .home1-create {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home1-content07 {
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
  }
  .home1-heading06 {
    font-size: 36px;
  }
  .home1-comparision {
    gap: var(--dl-space-space-threeunits);
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home1-header-container2 {
    gap: var(--dl-space-space-unit);
  }
  .home1-header08 {
    gap: var(--dl-space-space-unit);
    align-items: center;
  }
  .home1-heading07 {
    font-size: 40px;
  }
  .home1-caption10 {
    font-size: 16px;
    line-height: 24px;
  }
  .home1-text33 {
    font-size: 12px;
    line-height: 14px;
  }
  .home1-text34 {
    font-size: 12px;
    line-height: 14px;
  }
  .home1-text35 {
    font-size: 12px;
    line-height: 14px;
  }
  .home1-text36 {
    font-size: 12px;
    line-height: 18px;
  }
  .home1-text37 {
    font-size: 12px;
    line-height: 18px;
  }
  .home1-text38 {
    font-size: 12px;
    line-height: 18px;
  }
  .home1-text39 {
    line-height: 21px;
  }
  .home1-text40 {
    font-size: 12px;
    line-height: 18px;
  }
  .home1-text41 {
    line-height: 21px;
  }
  .home1-text42 {
    line-height: 21px;
  }
  .home1-text43 {
    font-size: 12px;
    line-height: 18px;
  }
  .home1-text44 {
    line-height: 21px;
  }
  .home1-text45 {
    font-size: 12px;
    line-height: 18px;
  }
  .home1-text46 {
    font-size: 12px;
    line-height: 18px;
  }
  .home1-text47 {
    line-height: 21px;
  }
  .home1-data {
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home1-heading08 {
    font-size: 36px;
  }
  .home1-caption11 {
    font-size: 16px;
    line-height: 24px;
  }
  .home1-image6 {
    width: 100%;
  }
  .home1-image7 {
    width: 100%;
  }
  .home1-customer {
    gap: var(--dl-space-space-threeunits);
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home1-quote {
    gap: var(--dl-space-space-unit);
    width: 100%;
    height: auto;
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-unit);
    border-right-width: 0px;
    border-bottom-width: 1px;
  }
  .home1-quote1 {
    width: 90%;
    font-size: 14px;
    line-height: 21px;
  }
  .home1-author1 {
    width: 100%;
  }
  .home1-name1 {
    width: 90%;
    font-size: 14px;
    line-height: 21px;
  }
  .home1-location {
    width: 90%;
    font-size: 14px;
    line-height: 21px;
  }
  .home1-quote2 {
    gap: var(--dl-space-space-unit);
    width: 100%;
    height: auto;
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-unit);
    border-right-width: 0px;
    border-bottom-width: 1px;
  }
  .home1-quote3 {
    width: 90%;
    font-size: 14px;
    line-height: 21px;
  }
  .home1-author2 {
    width: 100%;
  }
  .home1-name2 {
    width: 90%;
    font-size: 14px;
    line-height: 21px;
  }
  .home1-location1 {
    width: 90%;
    font-size: 14px;
    line-height: 21px;
  }
  .home1-quote4 {
    gap: var(--dl-space-space-unit);
    width: 100%;
    height: auto;
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-unit);
    border-right-width: 0px;
    border-bottom-width: 1px;
  }
  .home1-quote5 {
    width: 90%;
    font-size: 14px;
    line-height: 21px;
  }
  .home1-author3 {
    width: 100%;
  }
  .home1-name3 {
    width: 90%;
    font-size: 14px;
    line-height: 21px;
  }
  .home1-location2 {
    width: 90%;
    font-size: 14px;
    line-height: 21px;
  }
  .home1-quote6 {
    gap: var(--dl-space-space-unit);
    width: 100%;
    height: auto;
    padding-right: 0px;
    padding-bottom: var(--dl-space-space-unit);
    border-right-width: 0px;
    border-bottom-width: 1px;
  }
  .home1-quote7 {
    width: 90%;
    font-size: 14px;
    line-height: 21px;
  }
  .home1-author4 {
    width: 100%;
  }
  .home1-name4 {
    width: 90%;
    font-size: 14px;
    line-height: 21px;
  }
  .home1-location3 {
    width: 90%;
    font-size: 14px;
    line-height: 21px;
  }
  .home1-icon21 {
    width: 14px;
    height: 14px;
  }
  .home1-icon23 {
    width: 14px;
    height: 14px;
  }
  .home1-faq {
    gap: var(--dl-space-space-threeunits);
    padding-top: var(--dl-space-space-threeunits);
    padding-left: var(--dl-space-space-oneandhalfunits);
    padding-right: var(--dl-space-space-oneandhalfunits);
    padding-bottom: var(--dl-space-space-threeunits);
  }
  .home1-header15 {
    gap: var(--dl-space-space-unit);
    align-items: center;
  }
  .home1-heading10 {
    font-size: 36px;
  }
  .home1-column {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home1-element04 {
    gap: var(--dl-space-space-halfunit);
    padding-top: 0px;
    padding-right: 00px;
    padding-bottom: var(--dl-space-space-oneandhalfunits);
    border-right-width: 0px;
  }
  .home1-header16 {
    font-size: 16px;
    line-height: 20px;
  }
  .home1-element05 {
    gap: var(--dl-space-space-halfunit);
    padding-top: 0px;
    padding-right: 00px;
    padding-bottom: var(--dl-space-space-oneandhalfunits);
    border-right-width: 0px;
  }
  .home1-header17 {
    font-size: 16px;
    line-height: 20px;
  }
  .home1-element06 {
    gap: var(--dl-space-space-halfunit);
    padding-top: 0px;
    padding-right: 00px;
    padding-bottom: var(--dl-space-space-oneandhalfunits);
    border-right-width: 0px;
  }
  .home1-header18 {
    font-size: 16px;
    line-height: 20px;
  }
  .home1-column1 {
    gap: var(--dl-space-space-oneandhalfunits);
  }
  .home1-element07 {
    gap: var(--dl-space-space-halfunit);
    padding-top: 0px;
    padding-right: 00px;
    padding-bottom: var(--dl-space-space-oneandhalfunits);
    border-right-width: 0px;
  }
  .home1-header19 {
    font-size: 16px;
    line-height: 20px;
  }
  .home1-element08 {
    gap: var(--dl-space-space-halfunit);
    padding-top: 0px;
    padding-right: 00px;
    padding-bottom: var(--dl-space-space-oneandhalfunits);
    border-right-width: 0px;
  }
  .home1-header20 {
    font-size: 16px;
    line-height: 20px;
  }
  .home1-element09 {
    gap: var(--dl-space-space-halfunit);
    padding-top: 0px;
    padding-right: 00px;
    padding-bottom: var(--dl-space-space-oneandhalfunits);
    border-right-width: 0px;
  }
  .home1-header21 {
    font-size: 16px;
    line-height: 20px;
  }
}
@media(max-width: 479px) {
  .home1-branding {
    padding-top: var(--dl-space-space-unit);
  }
  .home1-text02 {
    font-size: 2em;
  }
  .home1-image4 {
    height: 400px;
  }
  .home1-text05 {
    font-size: 18px;
  }
  .home1-text07 {
    font-size: 18px;
  }
  .home1-text12 {
    font-size: 18px;
  }
  .home1-heading05 {
    color: rgb(255, 255, 255);
  }
  .home1-text15 {
    font-style: italic;
    font-family: Playfair Display;
    font-weight: 500;
  }
  .home1-heading06 {
    color: rgb(255, 255, 255);
    font-style: normal;
    text-align: center;
    font-weight: 500;
  }
  .home1-button2 {
    text-align: center;
  }
  .home1-header08 {
    gap: 0px;
    flex-direction: column;
  }
  .home1-heading07 {
    color: rgb(255, 255, 255);
    text-align: center;
  }
  .home1-text30 {
    font-style: italic;
    font-family: Playfair Display;
    font-weight: 500;
  }
  .home1-button3 {
    text-align: center;
  }
  .home1-header15 {
    gap: 0px;
    align-items: flex-start;
    flex-direction: column;
  }
}
